{% extends "layout.html" %}

{% block title %}

    Add Games

{% endblock %}

{% block body %}

    <nav class="navbar">
        <form action="/" method="get">
        <button onclick="document.getElementById('gameForm').scrollIntoView({ behavior: 'smooth' });">Home</button>
        </form>
    </nav>

    <div class="container">
        <header>
            <h1>Add Game</h1>
        </header>

        <form action="/add" method="post" enctype="multipart/form-data" class="game-form" id="gameForm">
            <input type="text" id="gameTitle" placeholder="Game Title" name="gameTitle" required />
            <input type="text" id="gamePlatform" placeholder="Platform" name="gamePlatform" required />
            <input type="number" id="gameYear" placeholder="Release Year" name="gameYear" required />
            <textarea id="gameDescription" placeholder="Description" rows="3" name="gameDescription" required></textarea>
            <input type="file" id="gameImage" accept="image/png, image/jpeg" name="gameImage" required />
            <button type="submit">Add Game</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='verify.js') }}"></script>

{% endblock %}